.typing1::after, 
.typing2::after{
  content: "";
  right: -10px;
  width: 3px;
  height: 80%;
  border-right: 3px solid ;
  animation: blink .8s infinite ease;
}
.typing2::after{
  opacity: 0;
  animation-delay: 4s;
}

@keyframes blink{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.contact:visited{
  color: #f8f9fa;
}

.darken{
  mix-blend-mode: overlay;
}
.darken:hover{
  mix-blend-mode: normal;
}
@media (max-width: 575.98px) {
  .darken{
    mix-blend-mode: normal;
  }
}

